@import "styles/colors";

.button {
  background-color: $grey;
  color: $white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border-color: $grey;
  font-size: small;
  cursor: pointer;
}
