// background
$middlegrey: #3c4146 !default;
$darkgrey: #272b30 !default;

// font
$lightgrey: #c4c1be !default;
$whitegrey: #c6c7c4 !default;
$white: white;
$red: red !default;

// button
$grey: #858c91 !default;
