.container {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;

  @media (max-width: 575.98px) {
    width: 100%;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 576px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 768px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 992px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.row {
  display: flex;

  @media (max-width: 767.98px) {
    flex-direction: column;
  }
  @media (min-width: 768px) {
    flex-direction: row;
  }

  flex-wrap: wrap;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.col {
  width: 100%;
}

.col-md-6 {
  @media (max-width: 767.98px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 50%;
  }
}
