@import "styles/colors";

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form_container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.succsss_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: larger;
  font-weight: bold;
  height: 75%;
}
